.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.bg-color {
  background-color: #bc658d;
}

.title {
  padding: 20px 0;
  color: #f5a7a7;
}

.section-1 {
  background-color: #f9d89c;
}
.section-2 {
  background-color: #82c4c3;
}
.section-3 {
  background-color: #f5a7a7;
}

h1 {
  line-height: 45rpx;
}
.header-img {
  width: 45px;
}
